.__markerjs2_ {
  z-index: 10000 !important;
}

.__cropro__0_ {
  z-index: 10000 !important;
}

.image-annotator-hovering-wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1001;
}

.d-editor-preview {
  position: relative;

  img.resizable {
    cursor: pointer;

    &.showing-annotation-btns {
      border: 3px solid var(--tertiary);
    }
  }
}
