.__markerjs2_ {
  z-index: 10000 !important;
}

.__cropro__0_ {
  z-index: 10000 !important;
}

.image-annotator-hovering-wrapper {
  position: absolute;
  z-index: 1001; 
}

.d-editor-preview {
  position: relative;
}