.__markerjs2_, .__cropro__0_ {
  z-index: 100000 !important;
  position: fixed !important;
}

.image-annotator-hovering-wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1001;
}

.image-annotator-hovering-wrapper .image-annotator-hovering-button {
  padding: 5px 10px;
  border: 1px solid var(--primary);
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  background: var(--tertiary);
  color: var(--secondary);
  box-shadow: 1px 1px 2px rgba(var(--always-black-rgb), 0.8);
}

.image-annotator-hovering-wrapper .image-annotator-hovering-button:hover {
  background: var(--tertiary-hover);
  color: var(--secondary);
}

.d-editor-preview {
  position: relative;

  img.resizable {
    cursor: pointer;

    &.showing-annotation-btns {
      border: 3px solid var(--tertiary);
    }
  }
}
